.about-info{
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-Items: flex-start;
    text-Align: left;
    color: #a6acaf ; 
}
.About{
    margin-top: 7vh;
    font-family:serif;
    color: #393d3f;

}
.btn{
    background-color:#353535 ;
    color: #ffff;
    border-radius: 0;
}